:root {
  --primary-color: #ff8fb7;
  --secondary-color: #e83c91;
  --bg-color: #43334c;
  --more-color: #f8f4ec;
  --shadow-color: 0 2px 2px rgba(0, 0, 0, 0.5);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "dosis", sans-serif;
}
html {
  scroll-behavior: smooth;
}
section {
  padding: 60px 20px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* Hero */
.hero {
  height: 100dvh;
  background-image: url(img/BG1.png);
  background-position: center;
  background-size: cover;
}
.hero-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.hero-guest {
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: underline;
  text-shadow: var(--shadow-color);
}
.hero-title {
  color: var(--secondary-color);
  font-size: 6rem;
  font-family: "sacramento", sans-serif;
  font-weight: 600;
  text-shadow: var(--shadow-color);
}
.hero-des {
  font-size: 1.5rem;
  text-decoration: overline;
}
.hero-btn {
  text-decoration: none;
  text-align: center;
  color: var(--more-color);
  font-size: 1.2rem;
  font-weight: 600;
  /* Box Border */
  display: block;
  width: 200px;
  padding: 15px 25px;
  background-color: var(--bg-color);
  border: 2px solid var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
}
.hero-btn:hover {
  color: var(--secondary-color);
  text-decoration: underline;
  background-color: var(--more-color);
}
/* Home */
.home {
  height: 100dvh;
  background-image: url(img/BG3.png);
  background-position: center;
  background-size: cover;
}
.home-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.home-surah {
  display: inline-block;
  width: 600px;
  font-size: 1.5rem;
}
.couple {
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.couple h3 {
  font-family: "sacramento", sans-serif;
  text-shadow: var(--shadow-color);
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 500;
}
.person-pria {
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.identitas-pria {
  text-align: right;
  font-size: 1.3rem;
}
.person-wanita {
  width: 600px;
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.identitas-wanita {
  text-align: left;
  font-size: 1.3rem;
}
.foto {
  width: 200px;
  height: 200px;
  border: 2px solid var(--primary-color);
  border-radius: 50%;
}
.home-undangan {
  display: inline-block;
  width: 400px;
  margin-top: 4rem;
  font-size: 1.5rem;
}
.info {
  height: 100dvh;
  background-color: var(--bg-color);
}
.info-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.info-overlay h2 {
  font-family: "sacramento", sans-serif;
  font-size: 5rem;
  font-weight: 600;
  color: var(--secondary-color);
  text-shadow: var(--shadow-color);
}
.info-acara h4 {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--more-color);
}
.acara {
  display: grid;
  grid-template-columns: repeat(2, minmax(350px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  grid-auto-rows: minmax(150px, auto);
}
.acara-isi {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 1.5rem;
  text-align: center;
  justify-content: center;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
}
.acara-isi i {
  font-size: 3rem;
  color: var(--secondary-color);
}
.acara-isi span {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--bg-color);
  text-decoration: overline;
  margin-top: 1rem;
}
.info-map {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.info-map h4 {
  font-size: 2rem;
  text-decoration: underline;
  color: var(--more-color);
}
.info-map p {
  width: 500px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: var(--more-color);
}
.info-map iframe {
  width: 600px;
  height: 200px;
  border-radius: 10px;
}
.info-map a {
  margin-top: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  color: var(--primary-color);
  /* box */
  display: block;
  background-color: var(--more-color);
  padding: 10px 20px;
  border: 2px solid var(--secondary-color);
  border-radius: 10px;
}
.gift {
  height: 100dvh;
  background-color: var(--more-color);
}
.gift-overlay {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.head span {
  color: var(--primary-color);
  font-size: 1.5rem;
  font-weight: 600;
  border-top: 1px solid var(--bg-color);
  border-bottom: 2px solid var(--bg-color);
  width: 200px;
  padding: 5px;
}
.head h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  color: var(--secondary-color);
  font-size: 4rem;
  font-family: "sacramento", sans-serif;
  font-weight: 600;
  text-shadow: var(--shadow-color);
}
.head p {
  text-decoration: underline;
}
.rekening {
  margin-top: 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 1rem;
  grid-auto-rows: minmax(150px, 1fr);
}
.rek-satu {
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow-color);
}
.rek-satu h4 {
  color: var(--more-color);
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--more-color);
  margin-bottom: 15px;
}
.rek-satu span {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: var(--shadow-color);
}
.rek-satu p {
  color: var(--more-color);
  font-size: 1rem;
}
.rek-satu .btn {
  margin-top: 1rem;
  width: 60px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  color: var(--more-color);
  font-size: 1rem;
}
.rek-dua {
  background-color: var(--bg-color);
  border-radius: 20px;
  padding: 2rem;
  justify-content: center;
  text-align: center;
  box-shadow: var(--shadow-color);
}
.rek-dua h4 {
  color: var(--more-color);
  display: block;
  font-size: 1.5rem;
  border-bottom: 1px solid var(--more-color);
  margin-bottom: 15px;
}
.rek-dua span {
  color: var(--primary-color);
  font-size: 2rem;
  font-weight: 600;
  text-shadow: var(--shadow-color);
}
.rek-dua p {
  color: var(--more-color);
  font-size: 1rem;
}
.rek-dua .btn {
  margin-top: 1rem;
  width: 60px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 5px;
  color: var(--more-color);
  font-size: 1rem;
}
.e-wallet p {
  margin-top: 1.5rem;
  text-decoration: underline;
}
.dana {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.dana h4 {
  font-family: "sacramento", sans-serif;
  font-size: 1.5rem;
  color: var(--bg-color);
}
.dana-logo img {
  width: 300px;
  display: block;
  padding: 10px;
  border: 3px solid var(--bg-color);
  border-radius: 10px;
  box-shadow: var(--shadow-color);
}
.copyright {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}
.sign,
.sosial {
  color: var(--more-color);
  font-weight: 600;
  text-shadow: var(--shadow-color);
}
.sosial a {
  color: var(--bg-color);
  text-decoration: none;
}
@media (max-width: 1100px) {
  .hero {
    background-image: url(img/BG2.png);
    background-size: cover;
  }
  .hero-overlay {
    gap: 10px;
  }
  .home {
    background-image: url(img/BG4.png);
    background-size: cover;
  }
  .person-pria {
    width: 50%;
  }
  .identitas-pria h3 {
    font-size: 3rem;
  }
  .identitas-pria p {
    font-size: 1.2rem;
  }
  .person-wanita {
    width: 50%;
  }
  .identitas-wanita h3 {
    font-size: 3rem;
  }
  .identitas-wanita p {
    font-size: 1.2rem;
  }
  .foto {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 900px) {
  .home-surah {
    width: 500px;
    font-size: 1.2rem;
  }
  .couple {
    margin-top: 10px;
    flex-direction: column;
    gap: 10px;
  }
  .person-pria {
    width: auto;
  }
  .identitas-pria h3 {
    font-size: 2rem;
  }
  .identitas-pria p {
    font-size: 1rem;
  }
  .person-wanita {
    width: auto;
  }
  .identitas-wanita h3 {
    font-size: 2rem;
  }
  .identitas-wanita p {
    font-size: 1rem;
  }
  .foto {
    width: 100px;
    height: 100px;
  }
  .home-undangan {
    width: 400px;
    font-size: 1.2rem;
    margin-top: 5px;
  }
  .info-overlay {
    gap: 10px;
  }
  .info-overlay h2 {
    font-size: 3.5rem;
  }
  .info-acara h4 {
    font-size: 2rem;
  }
  .acara {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    gap: 1rem;
    grid-auto-rows: minmax(10px, auto);
  }
  .acara-isi i {
    font-size: 2.5rem;
  }
  .acara-isi span {
    font-size: 1.2rem;
  }
  .info-map h4 {
    font-size: 2rem;
  }
  .info-map p {
    margin-top: 0.5rem;
    width: 300px;
    font-size: 1rem;
  }
  .info-map iframe {
    width: 300px;
    height: 200px;
  }
  .info-map a {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
}
@media (max-width: 400px) {
  .hero-guest {
    font-size: 1.2rem;
  }
  .hero-title {
    font-size: 3rem;
  }
  .hero-des {
    font-size: 0.8rem;
  }
  .home-surah {
    width: 220px;
    font-size: 0.7rem;
  }
  .couple {
    margin-top: 5px;
    flex-direction: column;
    gap: 10px;
  }
  .person-pria {
    width: auto;
  }
  .identitas-pria h3 {
    font-size: 1.4rem;
  }
  .identitas-pria p {
    font-size: 0.7rem;
  }
  .person-wanita {
    width: auto;
  }
  .identitas-wanita h3 {
    font-size: 1.4rem;
  }
  .identitas-wanita p {
    font-size: 0.7rem;
  }
  .foto {
    width: 80px;
    height: 80px;
  }
  .home-undangan {
    width: 200px;
    font-size: 0.6rem;
    margin-top: 5px;
  }
  .info-overlay {
    gap: 10px;
  }
  .info-overlay h2 {
    font-size: 2.5rem;
  }
  .info-acara h4 {
    font-size: 1.2rem;
  }
  .acara {
    grid-template-columns: minmax(200px, 1fr);
    gap: 0.5rem;
    grid-auto-rows: minmax(10px, auto);
  }
  .acara-isi i {
    font-size: 2rem;
  }
  .acara-isi span {
    font-size: 1rem;
  }
  .info-map h4 {
    font-size: 1.2rem;
  }
  .info-map p {
    margin-top: 0.5rem;
    width: 200px;
    font-size: 1rem;
  }
  .info-map iframe {
    width: 225px;
    height: 100px;
  }
  .info-map a {
    font-size: 0.9rem;
    padding: 5px 10px;
  }
  .head span {
    font-size: 1rem;
  }
  .head h2 {
    font-size: 2.5rem;
  }
  .head p {
    font-size: 0.8rem;
  }
  .rekening {
    margin-top: 1.5rem;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(100px, 1fr);
  }
  .rek-satu h4,
  .rek-dua h4 {
    font-size: 1.2rem;
  }
  .rek-satu span,
  .rek-dua span {
    font-size: 1.5rem;
  }
  .dana-logo img {
    width: 150px;
  }
  .e-wallet p {
    margin-top: 0.5rem;
  }
}
